.git
.env
.venv
legalAI
__pycache__
**/__pycache__
*.pyc
.pytest_cache
*.egg-info
logs
PDF_DATA
vectorstore*
evalution_set
notebook
notebooks
.deepeval
diagnostics
src/data_ingestion/
src/evalutions/
tests
