.env
logs
notebooks/
legalAI/   
legal_sathi_ai.egg-info    

# docs
D:\LegalSaathi AI\docs\project_data.md
D:\LegalSaathi AI\docs\write_timing_comparison.png
D:\LegalSaathi AI\docs\image.png
D:\LegalSaathi AI\docs\evals.md
D:\LegalSaathi AI\docs\FUTURE_IDEAS.md

data
__pycache__/

D:\LegalSaathi AI\new_table_cropped.pdf
D:\LegalSaathi AI\src\main.py
D:\LegalSaathi AI\.deepeval
D:\LegalSaathi AI\.venv